.grid {
    margin: 0em auto;
    border: none;
}
table.grid td {
    text-align: center;
    height: 24px;
    width: 20px;
}
table.grid .up { border-top: #FFFFFF; }
table.grid .down { border-bottom: #FFFFFF;}
table.grid .left { border-left: #FFFFFF; }
table.grid .right { border-right: #FFFFFF; }

th { text-align: left; }
.colors { display: flex; }

.palettes {
    width: 320px;
    margin: 0 auto;
}
.palettes .id { width: 30px; }
.palettes .tiles { width: 30px; }